.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 25%;
  background-color: transparent;
  font-size: 50px;
  color: teal;
  padding-left: 20px;
}
