* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 100, 204);
    height: 150px;
    color: white;
}