* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    height: 250px;
    color: white;
}

.cart-link{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-content:center;
    background-color: grey;
}
.cart-btn {
    font-size:32px;
    background-color:transparent;
    border: none;
    color: rgb(255, 240, 33);
    margin: 10px;
}
.cart-btn:hover {
    color: teal;
    cursor: pointer;
}

.logo {
    font-size: 58px;
}