* {
    font-family: 'Fredoka One', cursive;
font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(25, 103, 108);
    height: 200px;
    color: white;
}

.cart-link{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-content:center;
    background-color: rgb(25, 103, 108);
}
.cart-btn {
    font-size:32px;
    background-color:transparent;
    border: none;
    color: rgb(255, 240, 33);
    margin: 10px;
}
.cart-btn:hover {
    color: teal;
    cursor: pointer;
}

.logo {
    font-size: 58px;
}